## Importing SparkSession library
**Once we import SparkSession we dotn need to import Spark Context and SQL Context separately**

In [115]:
from pyspark.sql import SparkSession

In [116]:
spark = SparkSession.builder.getOrCreate()

In [117]:
spark

**Setting up a path variable for CSV location**

In [4]:
data_path = "/C:/Users/niles/Downloads/IS_Courses/Spark LinkedIn/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/location_temp.csv"

In [5]:
df1 = spark.read.format("csv").option("header","true").load(data_path)

In [6]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

### FILTER Data with DataFrame API

In [7]:
df1.filter(df1["location_id"]=="loc0").show()  #df1= df1[df1['location'] =='loc0'] in pandas

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [8]:
df1.filter(df1["location_id"]=="loc0").count()

1000

In [9]:
df1.filter(df1["location_id"]=="loc1").count()

1000

In [10]:
df1.filter(df1["location_id"]=="loc0").count()

1000

### AGGREGATION of Data with DataFrame API

In [11]:
df1.groupBy("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows

In [12]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

### MEAN

In [13]:
df1.groupBy("location_id").agg({'temp_celcius':'mean'}).show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|     loc196|           29.225|
|     loc226|           25.306|
|     loc463|           23.317|
|     loc150|           32.188|
|     loc292|           29.159|
|     loc311|           24.308|
|      loc22|           28.251|
|     loc351|           28.194|
|     loc370|            29.14|
|     loc419|           29.141|
|      loc31|           25.196|
|     loc305|           27.314|
|      loc82|           27.355|
|      loc90|           23.216|
|     loc118|           24.219|
|     loc195|            27.25|
|     loc208|           26.206|
|      loc39|           25.199|
|      loc75|           23.209|
|     loc228|           27.295|
+-----------+-----------------+
only showing top 20 rows

### MAX

In [14]:
df1.groupBy("location_id").agg({'temp_celcius':'max'}).show()

+-----------+-----------------+
|location_id|max(temp_celcius)|
+-----------+-----------------+
|     loc196|               36|
|     loc226|               32|
|     loc463|               30|
|     loc150|               39|
|     loc292|               36|
|     loc311|               31|
|      loc22|               35|
|     loc351|               35|
|     loc370|               36|
|     loc419|               36|
|     loc305|               34|
|      loc31|               32|
|     loc118|               31|
|     loc195|               34|
|     loc208|               33|
|      loc82|               34|
|      loc90|               30|
|     loc228|               34|
|      loc39|               32|
|      loc75|               30|
+-----------+-----------------+
only showing top 20 rows

## Importing 2nd CSV

In [15]:
data_path2 = "/C:/Users/niles/Downloads/IS_Courses/Spark LinkedIn/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/utilization.csv"

In [16]:
df2 = spark.read.format("csv").option("header","false").option("inferSchema","true").load(data_path2)

In [17]:
df2.show()

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41| 0.4| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51| 0.6| 45|
|03/05/2019 08:56:14|100|0.32|0.37| 47|
|03/05/2019 09:01:14|100|0.62|0.59| 60|
|03/05/2019 09:06:14|100|0.66|0.72| 57|
|03/05/2019 09:11:14|100|0.54|0.54| 44|
|03/05/2019 09:16:14|100|0.29| 0.4| 47|
|03/05/2019 09:21:14|100|0.43|0.68| 66|
|03/05/2019 09:26:14|100|0.49|0.66| 65|
|03/05/2019 09:31:14|100|0.64|0.55| 66|
|03/05/2019 09:36:14|100|0.42| 0.6| 42|
|03/05/2019 09:41:14|100|0.55|0.59| 63|
+-------------------+---+----+----+---+
only showing top 20 rows

In [18]:
df2.count()

500000

## Renaming the Columns

In [19]:
df2 = df2.withColumnRenamed("_c0", "event_datetime") \
        .withColumnRenamed ("_c1", "server_id")       \
        .withColumnRenamed("_c2", "cpu_utilization")  \
        .withColumnRenamed("_c3", "free_memory")      \
        .withColumnRenamed("_c4", "session_count")

In [20]:
df2.head(10)

[Row(event_datetime='03/05/2019 08:06:14', server_id=100, cpu_utilization=0.57, free_memory=0.51, session_count=47),
 Row(event_datetime='03/05/2019 08:11:14', server_id=100, cpu_utilization=0.47, free_memory=0.62, session_count=43),
 Row(event_datetime='03/05/2019 08:16:14', server_id=100, cpu_utilization=0.56, free_memory=0.57, session_count=62),
 Row(event_datetime='03/05/2019 08:21:14', server_id=100, cpu_utilization=0.57, free_memory=0.56, session_count=50),
 Row(event_datetime='03/05/2019 08:26:14', server_id=100, cpu_utilization=0.35, free_memory=0.46, session_count=43),
 Row(event_datetime='03/05/2019 08:31:14', server_id=100, cpu_utilization=0.41, free_memory=0.58, session_count=48),
 Row(event_datetime='03/05/2019 08:36:14', server_id=100, cpu_utilization=0.57, free_memory=0.35, session_count=58),
 Row(event_datetime='03/05/2019 08:41:14', server_id=100, cpu_utilization=0.41, free_memory=0.4, session_count=58),
 Row(event_datetime='03/05/2019 08:46:14', server_id=100, cpu_utilization=0.53, free_memory=0.35, session_count=62),
 Row(event_datetime='03/05/2019 08:51:14', server_id=100, cpu_utilization=0.51, free_memory=0.6, session_count=45)]

data_path3 = "/C:/Users/niles/Downloads/IS_Courses/Spark LinkedIn/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/Target_JSON"

json_df1_path = data_path3 + "/location_temp.json"
df1.write.json(json_df1_path)

json_df2_path = data_path3 + "/utilization.json"
df2.write.json(json_df2_path)

### WORKING WITH JSON

In [21]:
data_path4 = "/C:/Users/niles/Downloads/IS_Courses/Spark LinkedIn/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/utilization.json"

In [22]:
df_json = spark.read.format("json").load(data_path4)

In [23]:
df_json.head(10)

[Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:06:14', free_memory=0.51, server_id=100, session_count=47),
 Row(cpu_utilization=0.47, event_datetime='03/05/2019 08:11:14', free_memory=0.62, server_id=100, session_count=43),
 Row(cpu_utilization=0.56, event_datetime='03/05/2019 08:16:14', free_memory=0.57, server_id=100, session_count=62),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:21:14', free_memory=0.56, server_id=100, session_count=50),
 Row(cpu_utilization=0.35, event_datetime='03/05/2019 08:26:14', free_memory=0.46, server_id=100, session_count=43),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:31:14', free_memory=0.58, server_id=100, session_count=48),
 Row(cpu_utilization=0.57, event_datetime='03/05/2019 08:36:14', free_memory=0.35, server_id=100, session_count=58),
 Row(cpu_utilization=0.41, event_datetime='03/05/2019 08:41:14', free_memory=0.4, server_id=100, session_count=58),
 Row(cpu_utilization=0.53, event_datetime='03/05/2019 08:46:14', free_memory=0.35, server_id=100, session_count=62),
 Row(cpu_utilization=0.51, event_datetime='03/05/2019 08:51:14', free_memory=0.6, server_id=100, session_count=45)]

In [24]:
df_json.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [25]:
df_json.count()

500000

In [26]:
df_json.columns

['cpu_utilization',
 'event_datetime',
 'free_memory',
 'server_id',
 'session_count']

## SAMPLING with DataFrame API:

In [27]:
df2_sample = df2.sample(False,fraction=0.1)

In [28]:
df2_sample.count()

50007

In [29]:
df1.count()

500000

In [30]:
df1_s1 = df1.sample(fraction = 0.1, withReplacement = False)

In [31]:
df1_s1.count()

50066

In [32]:
df1_s1.groupBy("location_id").agg({'temp_celcius':'mean'}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196| 29.14423076923077|
|     loc226|25.877551020408163|
|     loc463|23.306306306306308|
|     loc150| 32.31683168316832|
|     loc292| 29.46153846153846|
|     loc311| 23.98095238095238|
|      loc22| 28.58139534883721|
|     loc351|28.272727272727273|
|     loc370|28.990384615384617|
|     loc419|28.778846153846153|
|      loc31|24.789473684210527|
|     loc305|27.511627906976745|
|      loc82|27.236363636363638|
|      loc90|22.820224719101123|
|     loc118| 24.09278350515464|
|     loc195| 27.26086956521739|
|     loc208|          26.84375|
|      loc39|25.009615384615383|
|      loc75| 23.28421052631579|
|     loc228|26.821428571428573|
+-----------+------------------+
only showing top 20 rows

In [33]:
df1_s1.groupBy("location_id").agg({'temp_celcius':'mean'}).orderBy("location_id").show(10)

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0|29.114285714285714|
|       loc1|28.215686274509803|
|      loc10|24.939393939393938|
|     loc100|27.580952380952382|
|     loc101|25.233766233766232|
|     loc102|29.962616822429908|
|     loc103|25.306122448979593|
|     loc104|26.115044247787612|
|     loc105|26.510204081632654|
|     loc106| 27.46938775510204|
+-----------+------------------+
only showing top 10 rows

In [34]:
df1.groupBy("location_id").agg({'temp_celcius':'mean'}).orderBy("location_id").show(10)

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
+-----------+-----------------+
only showing top 10 rows

df1.write.csv('df1_writ.scv')

df1.write.json('df1_writ.scv')

### SPARK SQL: FILTERING

In [35]:
df_json.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
|           0.32|03/05/2019 08:56:14|       0.37|      100|           47|
|           0.62|03/05/2019 09:01:14|       0.59|      100|           60|
|           0.66|03/05/2019 09:06:14|       0.72|      100|           57|
|           0.54|03/05/2019 09:11:14|       0.54|      100|           44|
|           0.29|03/05/2019 09:16:14|        0.4|      100|           47|
|           0.43|03/05/2019 09:21:14|       0.68|      100|           66|
|           0.49|03/05/2019 09:26:14|       0.66|      100|           65|
|           0.64|03/05/2019 09:31:14|       0.55|      100|           66|
|           0.42|03/05/2019 09:36:14|        0.6|      100|           42|
|           0.55|03/05/2019 09:41:14|       0.59|      100|           63|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

## Creating a temp view/table of the dataframe to use Spark SQL

In [36]:
df_json.createOrReplaceTempView("utilization")

In [37]:
df_sql = spark.sql("SELECT * FROM utilization LIMIT 10")

In [38]:
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+

In [39]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [40]:
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|      100|           47|
|      100|           43|
|      100|           62|
|      100|           50|
|      100|           43|
|      100|           48|
|      100|           58|
|      100|           58|
|      100|           62|
|      100|           45|
+---------+-------------+

In [41]:
df_sql = spark.sql("SELECT server_id as s_id, session_count as sc FROM utilization LIMIT 10")
df_sql.show()

+----+---+
|s_id| sc|
+----+---+
| 100| 47|
| 100| 43|
| 100| 62|
| 100| 50|
| 100| 43|
| 100| 48|
| 100| 58|
| 100| 58|
| 100| 62|
| 100| 45|
+----+---+

df_sql.write.csv("server.scv")

In [44]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 120")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.66|03/05/2019 08:06:48|       0.31|      120|           54|
|           0.58|03/05/2019 08:11:48|       0.38|      120|           64|
|           0.55|03/05/2019 08:16:48|       0.61|      120|           54|
|            0.7|03/05/2019 08:21:48|       0.35|      120|           80|
|            0.6|03/05/2019 08:26:48|       0.39|      120|           71|
|           0.53|03/05/2019 08:31:48|       0.35|      120|           49|
|           0.73|03/05/2019 08:36:48|       0.42|      120|           73|
|           0.41|03/05/2019 08:41:48|        0.6|      120|           72|
|           0.62|03/05/2019 08:46:48|       0.57|      120|           57|
|           0.67|03/05/2019 08:51:48|       0.44|      120|           78|
|           0.67|03/05/2019 08:56:48|       0.38|      120|           73|
|           0.39|03/05/2019 09:01:48|       0.47|      120|           58|
|            0.5|03/05/2019 09:06:48|       0.29|      120|           78|
|           0.38|03/05/2019 09:11:48|       0.38|      120|           56|
|           0.53|03/05/2019 09:16:48|       0.38|      120|           47|
|           0.74|03/05/2019 09:21:48|       0.25|      120|           69|
|           0.53|03/05/2019 09:26:48|       0.57|      120|           73|
|           0.54|03/05/2019 09:31:48|       0.64|      120|           65|
|            0.7|03/05/2019 09:36:48|       0.52|      120|           55|
|           0.54|03/05/2019 09:41:48|       0.27|      120|           74|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [45]:
df_sql.count()

10000

In [46]:
df_sql = spark.sql("SELECT * FROM utilization WHERE session_count > 70")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.32|03/05/2019 11:06:14|       0.35|      100|           71|
|           0.35|03/05/2019 12:31:14|       0.42|      100|           71|
|           0.29|03/05/2019 13:31:14|       0.36|      100|           71|
|           0.49|03/05/2019 16:36:14|       0.66|      100|           71|
|           0.32|03/05/2019 16:46:14|       0.58|      100|           72|
|           0.44|03/05/2019 18:26:14|       0.52|      100|           72|
|           0.45|03/05/2019 21:26:14|       0.47|      100|           71|
|           0.34|03/06/2019 01:46:14|       0.55|      100|           71|
|           0.61|03/06/2019 05:21:14|       0.35|      100|           71|
|           0.45|03/06/2019 07:26:14|       0.66|      100|           72|
|           0.57|03/06/2019 09:56:14|       0.38|      100|           71|
|           0.29|03/06/2019 10:46:14|       0.63|      100|           72|
|           0.42|03/06/2019 11:41:14|       0.72|      100|           71|
|            0.5|03/06/2019 13:01:14|       0.64|      100|           71|
|            0.4|03/06/2019 15:41:14|       0.57|      100|           72|
|           0.48|03/06/2019 21:26:14|       0.63|      100|           71|
|           0.64|03/06/2019 22:01:14|        0.4|      100|           72|
|           0.64|03/07/2019 01:31:14|       0.69|      100|           72|
|           0.56|03/07/2019 02:36:14|       0.53|      100|           71|
|           0.46|03/07/2019 05:46:14|       0.46|      100|           71|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [47]:
df_sql.count()

239659

In [48]:
df_sql = spark.sql("SELECT * FROM utilization\
                    WHERE session_count > 70\
                    and server_id = 120\
                    ORDER BY session_count DESC")
df_sql.show()

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.69|03/31/2019 01:46:49|       0.45|      120|           80|
|           0.63|04/03/2019 01:21:49|       0.52|      120|           80|
|           0.37|03/31/2019 03:46:49|       0.42|      120|           80|
|            0.4|03/30/2019 06:11:49|       0.34|      120|           80|
|           0.72|03/31/2019 17:16:49|       0.32|      120|           80|
|           0.63|03/29/2019 09:06:49|       0.36|      120|           80|
|           0.62|03/31/2019 17:56:49|       0.33|      120|           80|
|           0.41|03/29/2019 12:21:49|       0.39|      120|           80|
|           0.48|03/31/2019 18:41:49|       0.49|      120|           80|
|           0.65|03/30/2019 00:36:49|       0.63|      120|           80|
|           0.62|03/31/2019 23:16:49|       0.46|      120|           80|
|           0.69|03/29/2019 00:51:49|       0.52|      120|           80|
|           0.39|03/31/2019 23:26:49|       0.44|      120|           80|
|           0.58|03/30/2019 06:46:49|       0.29|      120|           80|
|           0.58|04/01/2019 03:01:49|        0.6|      120|           80|
|           0.66|03/30/2019 09:01:49|       0.46|      120|           80|
|           0.46|04/01/2019 04:16:49|       0.38|      120|           80|
|           0.39|03/30/2019 18:41:49|       0.41|      120|           80|
|           0.48|04/01/2019 08:36:49|        0.5|      120|           80|
|           0.49|04/01/2019 14:56:49|       0.38|      120|           80|
+---------------+-------------------+-----------+---------+-------------+
only showing top 20 rows

In [49]:
df_sql.count()

2733

### SPARK SQL: AGGREGATION

In [51]:
df_count= spark.sql("SELECT count(*) FROM utilization")
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [52]:
df_count= spark.sql("SELECT count(*)\
                    FROM utilization \
                    WHERE session_count > 70")
df_count.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [53]:
df_count= spark.sql("SELECT server_id, count(*)\
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")
df_count.show()

+---------+--------+
|server_id|count(1)|
+---------+--------+
|      101|    9808|
|      113|    9418|
|      145|    9304|
|      103|    8744|
|      102|    8586|
|      133|    8583|
|      108|    8375|
|      149|    8288|
|      137|    8248|
|      148|    8027|
|      123|    7918|
|      118|    7913|
|      112|    7425|
|      139|    7383|
|      104|    7366|
|      121|    7084|
|      142|    7084|
|      146|    7072|
|      126|    6365|
|      144|    6220|
+---------+--------+
only showing top 20 rows

In [54]:
df_count= spark.sql("SELECT server_id, round(mean(session_count), 2), max(session_count), min(session_count)\
                    FROM utilization \
                    WHERE session_count > 70 \
                    GROUP BY server_id \
                    ORDER BY count(*) DESC")
df_count.show()

+---------+----------------------------+------------------+------------------+
|server_id|round(avg(session_count), 2)|max(session_count)|min(session_count)|
+---------+----------------------------+------------------+------------------+
|      101|                       87.67|               105|                71|
|      113|                       86.96|               103|                71|
|      145|                       86.98|               103|                71|
|      103|                       85.76|               101|                71|
|      102|                       85.71|               101|                71|
|      133|                       85.47|               100|                71|
|      108|                       85.12|               100|                71|
|      149|                       84.96|                99|                71|
|      137|                       85.01|                99|                71|
|      148|                        84.7|                99|                71|
|      123|                       84.53|                98|                71|
|      118|                       84.66|                98|                71|
|      112|                       83.55|                97|                71|
|      139|                       83.33|                96|                71|
|      104|                       83.35|                96|                71|
|      121|                       82.89|                95|                71|
|      142|                        82.9|                95|                71|
|      146|                       82.95|                95|                71|
|      126|                       81.56|                93|                71|
|      144|                       81.38|                92|                71|
+---------+----------------------------+------------------+------------------+
only showing top 20 rows

## SPARK SQL: JOINING DATAFRAMES

In [56]:
from pyspark.sql.types import IntegerType

In [57]:
df_json.show(10)

+---------------+-------------------+-----------+---------+-------------+
|cpu_utilization|     event_datetime|free_memory|server_id|session_count|
+---------------+-------------------+-----------+---------+-------------+
|           0.57|03/05/2019 08:06:14|       0.51|      100|           47|
|           0.47|03/05/2019 08:11:14|       0.62|      100|           43|
|           0.56|03/05/2019 08:16:14|       0.57|      100|           62|
|           0.57|03/05/2019 08:21:14|       0.56|      100|           50|
|           0.35|03/05/2019 08:26:14|       0.46|      100|           43|
|           0.41|03/05/2019 08:31:14|       0.58|      100|           48|
|           0.57|03/05/2019 08:36:14|       0.35|      100|           58|
|           0.41|03/05/2019 08:41:14|        0.4|      100|           58|
|           0.53|03/05/2019 08:46:14|       0.35|      100|           62|
|           0.51|03/05/2019 08:51:14|        0.6|      100|           45|
+---------------+-------------------+-----------+---------+-------------+
only showing top 10 rows

In [58]:
dp = "/C:/Users/niles/Downloads/IS_Courses/Spark LinkedIn/Ex_Files_Spark_SQL_DataFrames/Exercise Files/Data/location_temp.csv"

df_server = spark.read.format("csv").option("header","true").load(dp)

In [59]:
df_server.show(10)

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
+-------------------+-----------+------------+
only showing top 10 rows

## Creating a temp view/table of the dataframe to use Spark SQL

In [60]:
df_server.createOrReplaceTempView("server_name")

df_join = spark.sql("SELECT * \
                   FROM utilization u \
                   INNER JOIN server_name s \
                   ON day(u.even_datetime) = day(s.event_date)")

In [84]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext, SQLContext

In [85]:
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [87]:
# OR


# from pyspark import SparkConf, SparkContext, SQLContext

# conf = SparkConf().setAppName("test").setMaster("local")
# sc = SparkContext(conf=conf)
# sqlContext = SQLContext(sc)
# print(sc)
# print(sqlContext)

In [86]:
df_dup = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                             Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                             Row(server_name='102 Server', cpu_utilization=85, session_count=80),
                             Row(server_name='102 Server', cpu_utilization=85, session_count=80)]).toDF()

In [88]:
df_dup.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           80|
|             85| 102 Server|           80|
+---------------+-----------+-------------+

In [89]:
df_dup.drop_duplicates().show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           80|
+---------------+-----------+-------------+

In [90]:
df_dup.drop_duplicates(['server_name']).show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 102 Server|           80|
|             85| 101 Server|           80|
+---------------+-----------+-------------+

### WORKING WITH NA

In [91]:
from pyspark.sql.functions import lit
from pyspark.sql.types import StringType

In [102]:
df = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80), \
                             Row(server_name='101 Server', cpu_utilization=80, session_count=90),
                             Row(server_name='102 Server', cpu_utilization=85, session_count=40),
                             Row(server_name='103 Server', cpu_utilization=70, session_count=80),
                             Row(server_name='104 Server', cpu_utilization=60, session_count=80)]).toDF()

In [103]:
df.show()

+---------------+-----------+-------------+
|cpu_utilization|server_name|session_count|
+---------------+-----------+-------------+
|             85| 101 Server|           80|
|             80| 101 Server|           90|
|             85| 102 Server|           40|
|             70| 103 Server|           80|
|             60| 104 Server|           80|
+---------------+-----------+-------------+

## Creating a new Column with null values

In [104]:
df_na = df.withColumn('na_col', lit(None).cast(StringType()))

In [105]:
df_na.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           40|  null|
|             70| 103 Server|           80|  null|
|             60| 104 Server|           80|  null|
+---------------+-----------+-------------+------+

In [118]:
df_na.fillna('A').show()  #filling null values with A

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
+---------------+-----------+-------------+------+

In [107]:
df2 = df_na.fillna('A').union(df_na)

In [108]:
df2.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           40|  null|
|             70| 103 Server|           80|  null|
|             60| 104 Server|           80|  null|
+---------------+-----------+-------------+------+

In [99]:
df2.na.drop().show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
+---------------+-----------+-------------+------+

In [109]:
df2.dropna().show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
+---------------+-----------+-------------+------+

In [110]:
df2.show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           40|  null|
|             70| 103 Server|           80|  null|
|             60| 104 Server|           80|  null|
+---------------+-----------+-------------+------+

## Creating a temp view/table of the dataframe to use Spark SQL

In [111]:
df2.createOrReplaceTempView("na_table")

In [112]:
spark.sql("SELECT * FROM na_table").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           40|  null|
|             70| 103 Server|           80|  null|
|             60| 104 Server|           80|  null|
+---------------+-----------+-------------+------+

In [113]:
spark.sql("SELECT * FROM na_table WHERE na_col IS NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|  null|
|             80| 101 Server|           90|  null|
|             85| 102 Server|           40|  null|
|             70| 103 Server|           80|  null|
|             60| 104 Server|           80|  null|
+---------------+-----------+-------------+------+

In [114]:
spark.sql("SELECT * FROM na_table WHERE na_col IS NOT NULL").show()

+---------------+-----------+-------------+------+
|cpu_utilization|server_name|session_count|na_col|
+---------------+-----------+-------------+------+
|             85| 101 Server|           80|     A|
|             80| 101 Server|           90|     A|
|             85| 102 Server|           40|     A|
|             70| 103 Server|           80|     A|
|             60| 104 Server|           80|     A|
+---------------+-----------+-------------+------+